# Variables, Instructions et séquences d'instructions

# Solutions des exercices

#### Exercice 1

Donner le type (```int``` ou ```double```) et la valeur des expressions suivantes:

*Solution*: toutes les expressions sont de type ```double```. Les valeurs sont comme suit:

In [1]:
3 - 1 + 1.0

3.0

In [2]:
(5 + 1.0) / 3

2.0

In [3]:
3.0 + 2 * 5

13.0

In [4]:
3.0 * (1 / 3)

0.0

In [5]:
4.0 / 2 / 4

0.5

#### Exercice 2

Donner le type (```int``` ou ```double```) et la valeur des expressions suivantes:

*Solution*: type ```double``` sauf la troisième, ```int```. Valeurs ci-dessous.

In [6]:
(double) 3 + 5

8.0

In [7]:
(double) (5/2)

2.0

In [8]:
(int) 5.0 / 2 + 2

4

In [9]:
(int) (5.0 / 2) * 3.0

6.0

#### Exercice 3

Donner le type (```int```, ```double```, ou ```String```) et la valeur des expressions suivantes. Le cas échéant, indiquer quelles expressions sont invalides (causent une erreur).

*Solutions:* types ```String``` / erreur / ```String``` / erreur / ```String```

In [10]:
(int) 3/4 + " pommes"

0 pommes

In [11]:
3 * "a"

CompilationException:

In [12]:
3 + 3 + "3"

63

In [13]:
(double) 3 / "2"

CompilationException:

In [14]:
"4" + "2" + 3 * 4

4212

#### Exercice 4

Il existe une épreuve d'endurance qui consiste à courir la plus grande distance possible en 24h. Un athlète a couru à la vitesse moyenne de 11.3 km/h sur la durée de l'épreuve. On veut écrire un programme qui calcule la distance parcourue par cet athlète. 

Déclarer des variables des types numériques appropriés pour la durée, la vitesse et la distance:

In [15]:
double vitesse, temps, distance; // on pourrait aussi déclarer un entier pour le temps.

Écrire les valeurs des données d'entrée dans les variables correspondantes:

In [16]:
vitesse= 11.3;
temps = 24;

Écrire le calcul de la donnée de sortie (distance) en utilisant ces variables:

In [17]:
distance = vitesse * temps;

In [18]:
distance

271.20000000000005

#### Exercice 5
Un automobiliste utilise toujours sa voiture pour se rendre sur son lieu de travail, situé à 12km de son domicile. Il travaille quatre jours par semaine, 22 semaines par an. Son véhicule consomme 8 litres d'essence au 100km, et le prix moyen de l'essence est de $1.20/L.

On veut écrire un programme pour calculer ses dépenses annuelles en essence.

Déclarer les variables pour les données d'entrées, en les initialisant avec les valeurs fournies:

In [19]:
double distanceTravail = 12;
int nbjours = 22*4;
double conso = 8;
double prixEssence =1.2;

Calculer la distance totale parcourue par année dans une nouvelle variable:

In [20]:
double distanceAnnuelle = nbjours * distanceTravail * 2; // un aller-retour chaque jour de travail

Calculer la quantité d'essence nécessaire (dans une nouvelle variable):

In [21]:
double consommation = distanceAnnuelle / 100 * conso; //conso litres pour chaque 100 km

Calculer le coût de cette essence:

In [22]:
double coutEssence = consommation * prixEssence;

In [23]:
coutEssence

202.752